<ion-content>

  <img src="assets/images/logo-sun-1000.png" class="logo-sun" image-cache/>
  <img src="assets/images/logo-text.svg" class="logo-text" image-cache/>

  <form [formGroup]="form" novalidate>

    <ion-list class="login-list">
      <ion-item class="login-item">
        <ion-input type="email" placeholder="{{ 'login.email' | translate }}" formControlName="email" autocapitalize="none"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.email.valid  && (form.controls.email.dirty || submitted)">
        <p ion-text color="danger">{{ 'login.email-empty' | translate }}</p>
      </ion-item>

      <ion-item class="login-item">
        <ion-input type="password" placeholder="{{ 'login.password' | translate }}" formControlName="pass" autocorrect="off" autocapitalize="none"></ion-input>
      </ion-item>

      <ion-item *ngIf="!form.controls.pass.valid  && (form.controls.pass.dirty || submitted)">
        <p ion-text color="danger">{{ 'login.password-empty' | translate }}</p>
      </ion-item>
    </ion-list>

    <button ion-button outline (tap)="onSubmit()" class="log-btn" block round large>{{ 'login.login-button' | translate }}</button>
  </form>
  <p class="forgot-password" (tap)="openForgotPage()">{{ 'login.forgot-password' | translate }}</p>

</ion-content>

<ion-footer>

    <ion-toolbar>
        <a (tap)="showSignUp()" class="login-tab">{{ 'login.create-account-button' | translate }}</a>
    </ion-toolbar>

</ion-footer>
