<ion-header no-border>
  <ion-navbar>
    <ion-title class="main-title">{{ 'forgot-password.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf="!tokenValid">
    <form class="email-form" [formGroup]="formEmail" novalidate>

      <ion-list padding class="list">
        <ion-item>
          <ion-input type="email" placeholder="{{ 'forgot-password.email-placeholder' | translate }}" formControlName="email" autocapitalize="none"></ion-input>
        </ion-item>

        <ion-item *ngIf="!formEmail.controls.email.valid && (formEmail.controls.email.dirty || submittedEmail)">
          <p ion-text color="danger">{{ 'forgot-password.email-wrong' | translate }}</p>
        </ion-item>
      </ion-list>

      <button ion-button outline (tap)="onSubmitEmail()" class="confirm-btn" block round large>{{ 'forgot-password.confirm' | translate }}</button>
    </form>

    <button ion-button outline (tap)="verifyToken()" class="confirm-btn" block round large>{{ 'forgot-password.verify-token' | translate }}</button>
  </div>

  <div *ngIf="tokenValid">
    <p padding>{{ 'forgot-password.enter-new-password-title' | translate }}</p>
    <form class="email-form" [formGroup]="formPasswords" novalidate>

      <ion-list padding>
        <div formGroupName="passwords">
          <ion-item>
            <ion-input placeholder="{{ 'forgot-password.placeholder-passwd' | translate }}" type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="{{ 'forgot-password.placeholder-passwd-c' | translate }}" type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
        </div>

        <ion-item *ngIf="!formPasswords.controls.passwords.valid && (formPasswords.controls.passwords.dirty || submitted)">
          <p ion-text color="danger">{{ 'forgot-password.passwd-matching' | translate }}</p>
        </ion-item>
      </ion-list>

      <button ion-button outline (tap)="submitPasswords()" class="confirm-btn" block round large>{{ 'forgot-password.confirm' | translate }}</button>
    </form>
  </div>

</ion-content>
