ask-friends {

  ion-header {
    box-shadow: 0px 0px 1px 0px rgba(130,130,130,0.8);
    border-radius: 0px 0px 16px 16px;
    height: 110px;
    background: white;

    .bar-button-default-ios{
      height: initial!important;
    }

    ion-navbar{
      padding-top: 0!important;
      background: none;
      height: 60px!important;
      min-height: 60px!important;
      ion-title{
        padding-top: 15px!important;
        height: 100%!important;
        min-height: 100%!important;
        padding: 15px 56px 0!important;
        
      }

    }
    
    .segment-button{
      text-transform: none!important;
      max-width: 40vmin;
      height: 70%!important;
      font-size: 1.8rem!important;
      line-height: 1.5;
      border-color: rgba(0,0,0,0)!important;
      color: grey!important;
      opacity: 1;
      font-family: SF_Bold;
    }
    .segment-activated{
      color: $chillter-col!important;
      border-color: $chillter-col!important;
    }
    ion-segment{
      width: 80vmin;
      margin: auto;
    }
    

    img.nav-title{
      max-width: 80%;
      height: 47px;
    }

    .search-evt{
      margin-top: 1px;
      display: block;
      border: none;
      background: none;
      padding: 0px 10px;
      width: 100%;
      overflow: hidden;

      .searchbar-input {
        border: 1px solid lightgrey!important;
        background: none!important;
        color: grey!important;
        width: 100%;
        border-radius: 11px;
        height: 3.5rem;
      }
      .searchbar-input::placeholder{
        color: grey;
      }
      .searchbar-search-icon{
        height: 100%;
        width:30px;
        top:0;
        left:0;
        background-position: center;
      }
    }
  }
  /* Rewrite some rules about navbar */
  .toolbar-title-ios {
    font-size: 2.2rem;
    color: $chillter-col;
    margin-top: 0px;
  }

  ion-spinner {
    width: 75px;
    height: 75px;
    display: block;
    margin: 25% auto;
  }

  .spinner-crescent circle {
    stroke-width: 1px;
  }

  .back-button.show-back-button {
    margin-top: -5px;
  }

  ion-navbar {
    min-height: 70px !important;
  }

  .scroll-content {
    padding-top: 115px !important;
  }

  /* End of navbar rewrite */
  .floating-close-button {
    position: absolute;
    top: 22px;
    left: 10px;
    width: auto;
    z-index: 200;
    min-height: 3.2rem;
    line-height: 1.7;
    margin-left: 5px;
    &:before {
      content: '';
      display: block;
      width: 25px;
      height: 40px;
      background-image: url("../assets/images/back-arrow.svg");
      background-size: 22px auto;
      background-repeat: no-repeat;
    }
  }

  .orange-border {
    border: 1px solid $chillter-col;
    border-radius: 100%;
    min-width: unset;
    min-height: unset;
    width: 53px;
    height: 53px;
    img {
      padding: 1px;
      width: 100%;
      height: 100%;
    }
  }

  /* Remove the last bottom border */
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  /* Remove the first top border */
  .list-ios>.item-block:first-child {
    border-top: 0;
  }

  ion-label {
    color: #4c4c4c;
  }

  .in-bold {
    display: inline-block;
    font-weight: bold;
  }

  .checkbox-ios {
    .checkbox-checked {
      background-color: #5eb63b;
      border-color: #5eb63b;
      width: 30px;
      height: 30px;
      .checkbox-inner {
        width: 10px;
        height: 15px;
        left: 9px;
      }
    }
    .checkbox-icon {
      width: 30px;
      height: 30px;
    }
  }
}

#ok {
  color: #ff862a;
  font-size: 1.7rem;
  float: right;
  background: white;
  padding: 15px;
  font-weight: bold;
}
