<ion-header no-border>
  <ion-navbar>
    <ion-title class="main-title"><ion-searchbar class="search-evt" (ionInput)="onInput($event)"></ion-searchbar></ion-title>
      <div class="floating-close-button" (tap)="close()"></div>
      <button id="ok" class="main-title" (tap)="addFriend(arrayFriends)">{{ 'add-friends.done' | translate }}</button>
  </ion-navbar>
  <ion-segment mode="md" [(ngModel)]="addFriendsDisplay">
    <ion-segment-button value="add">
      {{'add-friends.add' | translate}}
    </ion-segment-button>
    <ion-segment-button value="view">
      {{'add-friends.view' | translate}}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <ion-spinner *ngIf="isLoadingFriends" name="crescent"></ion-spinner>
  <div [ngSwitch]="addFriendsDisplay">

    <div *ngSwitchCase="'add'">
      <ion-list>
        <ion-item *ngFor="let friend of viewAddGuest" >
          <ion-avatar class="orange-border" item-left><img src="{{friend.picture || 'assets/images/default-profil.svg'}}" image-cache/></ion-avatar>
          <ion-label>{{friend.firstname}} <div class="in-bold">{{friend.lastname}}</div></ion-label>
          <ion-checkbox  (ionChange)="addToArray(friend, $event)" item-right></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'view'">
      <ion-list>
        <ion-item-sliding *ngFor="let friend of viewViewGuest" #slidingGuest>
          <ion-item>
            <ion-avatar class="orange-border" item-left><img src="{{friend.picture || 'assets/images/default-profil.svg'}}" image-cache/></ion-avatar>
            <ion-label>{{friend.firstname}} <div class="in-bold">{{friend.lastname}}</div></ion-label>
          </ion-item>
          <ion-item-options side="left" *ngIf="editor">
            <button (tap)="deleteFriend(slidingGuest, friend.id)" ion-button icon-only>
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>

</ion-content>
