<ion-header no-border>
  <ion-navbar>
    <ion-title>
      <img class="nav-title" src="assets/images/nav-chillset.svg" height="130" image-cache/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="chill-set">
  <form [formGroup]="form">
    <div class="header-chill-set">
      <div class="avatar">
        <img-picker-logo id="avatarLoader" [src]="picture" (change)="loadChange($event)"></img-picker-logo>
      </div>
      <div class="infos">
        <h1 class="info-name">{{name}}</h1>
        <div class="info-contact">
          <ion-input placeholder="Phone" type="tel" formControlName="phone"></ion-input>
          <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
        </div>
      </div>
      <div class="forward-arrow-div">
        <ion-icon class="forward-arrow" name="arrow-forward"></ion-icon>
      </div>
    </div>

      <div *ngIf="(form.controls.phone.valid &&  form.controls.email.valid) && (form.controls.phone.dirty || form.controls.email.dirty)" class="item-info">
        <div class="update-info" (tap)="changeInfo()">
          {{ 'global.update' | translate }}
        </div>
      </div>

      <!-- Next elements use same class -->
      <div class="change-password" (tap)="changePassword()">
        <ion-icon name="md-lock"></ion-icon>{{ 'chill-set.change-password' | translate }}<ion-icon class="forward-arrow" name="arrow-forward"></ion-icon>
      </div>

      <div class="change-password" (tap)="setLanguageTo()">
        <ion-icon name="md-globe"></ion-icon>
        <span *ngIf="!changingLang">{{ 'chill-set.change-lang' | translate }}</span>
        <span *ngIf="changingLang"><span (tap)="setLanguageTo('fr')">Français</span>, <span (tap)="setLanguageTo('en')">English</span></span>
        <ion-icon class="forward-arrow" name="arrow-forward"></ion-icon>
      </div>

      <div class="change-password" (tap)="synchronizeContacts()">
        <ion-icon name="md-sync"></ion-icon>{{ 'chill-set.synchro-contacts' | translate }} <ion-icon *ngIf="synchronizeFinished" name="ios-checkmark"></ion-icon><ion-icon class="forward-arrow" name="arrow-forward"></ion-icon>
      </div>

      
  </form>

  <div class="btn-disconnect-container">
    <button ion-button clear class="btn-disconnect" (tap)="logout()">
      {{ 'chill-set.signout' | translate }}
    </button>
  </div>

</ion-content>
