chill-set {
  font-family: SF_Regular;
  ion-header{
    
  }
  ion-navbar {
    min-height: 75px !important;

    .toolbar-background{
      box-shadow: 0px 0px 1px 0px rgba(130,130,130,0.8);
      border-radius: 0px 0px 16px 16px;
      background: white;
      height: 99%;
    }

    img {
      height: 47px;
    }
  }

  .toast-alert .toast-wrapper {
    background-color: $chillter-col;
  }

  .toast-alert .toast-message {
    color: white;
  }

  .chill-set {
    background-color: #f0f0f0;

    .forward-arrow{
      float: right;
      font-size: 3rem;
      height: 100%;
      padding-top: 1rem;
      color: #9B9B9B;
    }

    .header-chill-set{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: white;
      border-top: 1px solid #9B9B9B;
      border-bottom: 1px solid #9B9B9B;
      margin: 8px 0;
      .avatar {
        margin: 10px;
        img-picker-logo {
          background-image: url(../assets/images/default-profil-picture.svg);
          box-sizing: content-box;
          border: 2px solid $chillter-col;
          border-radius: 100%;
          overflow: hidden;
          display: inline-block;
          height: 90px;
          width: 90px;
          img {
            padding: 2px;
            border-radius: 100%;
          }
        }
      }
      .infos{
        .info-name{
          margin: 0!important;
          margin-bottom: 8px!important;
          font-family: SF_Semibold;
          color: #4a4a4a
        }
        .info-contact{
          line-height: 1rem;
          font-size: 1.6rem;
          ion-input{
            .text-input{
              margin: 0!important;
            }
          }
        }
      }
      .forward-arrow-div{
        height:100%;
        width: 6%;
        .forward-arrow{
          padding-top:0;
        }
      }
    }

    .complete-name {
      text-align: center;
      font-size: 2rem;
      margin: 1rem 0px;
    }

    .change-password {
      padding-left: 4rem;
      color: #4a4a4a;
      background-color: white;
      border-top: 1px solid #9B9B9B;
      border-bottom: 1px solid #9B9B9B;
      margin: 20px 0;
      height: 5rem;
      line-height: 5rem;
      font-size: 1.9rem;
      ion-icon{
        margin-right: 2rem;
      }
    }

    .item-info {
      text-align: center;

      .update-info {
        color: $chillter-col;
        display: inline-block;
        text-align: center;
        margin: 0px 3rem;
        font-size: 1.8rem;
      }
    }

    .btn-disconnect-container {
      text-align: center;

      .btn-disconnect {
        text-align: center;
        height: 5rem;
        line-height: 5rem;
        font-size: 2.3rem;
        color: $chillter-col;
        width: 100%;
        margin: auto;
        background-color: white;
        border-top: 1px solid #9B9B9B;
        border-bottom: 1px solid #9B9B9B;

        ion-icon {
          position: relative;
          top: 5px;
        }
      }
    }
  }
  /* Override rules for screen with width > 768px (iPad...) */
  @media screen and (min-width: 768px) {
    .toolbar-ios {
      min-height: 140px !important;
    }

    .nav-title {
      margin-top: 10%;
      height: 110px;
    }

    .chill-set {
      margin-top: 6rem;
    }
  }

  /* override for 527 - 550 screen height */
  @media screen and (min-height: 527px) and (max-height: 550px){
    ion-list, .list-ios {
      margin-bottom: 0;
    }
    .chill-set .avatar {
      width: 120px;
    }
    .chill-set .avatar img-picker-logo {
      height: 115px;
      width: 115px;
    }
    .chill-set .btn-disconnect-container .btn-disconnect {
      font-size: 1.8rem;
      height: 4rem;
      line-height: 4rem;
    }
  }
}
