<ion-header>
  <ion-navbar no-border>
    <ion-title>
      <img class="nav-title" src="assets/images/nav-chillers.svg" image-cache/>
    </ion-title>
    <ion-buttons end>
      <button (tap)="showSearch()" ion-button icon-only clear>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="segment-toolbar">
    <ion-segment mode="md" [(ngModel)]="chillersDisplay">
      <ion-segment-button value="chillers">
        {{'friend-list.chillter' | translate}}
      </ion-segment-button>
      <ion-segment-button value="contact">
        {{'friend-list.contact' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="friend-list">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="chillersDisplay">

    <div *ngSwitchCase="'chillers'">

      <ion-list *ngIf="pendingFriends.length != 0 || sentInvitation.length != 0">
          <div class="friend-request-subtitle">{{ 'friend-list.request-subtitle' | translate}}</div>
          <ion-item *ngFor="let pfriend of pendingFriends">
            <ion-avatar item-left>
              <img class="avatar" src="{{pfriend.picture || 'assets/images/default-profil-picture.svg'}}" image-cache/>
            </ion-avatar>
            <div class="friend-request-container">
              <h2 class="friend-request-chiller-name">{{pfriend.firstname}} {{pfriend.lastname}}</h2>
              <ion-icon class="accept-friend" name="checkmark" (tap)="acceptFriend(pfriend.id)"></ion-icon>
              <ion-icon class="refuse-friend" name="close" (tap)="deleteFriend(pfriend.id)"></ion-icon>
            </div>
          </ion-item>
          <div *ngIf="sentInvitation.length != 0">
            <ion-item *ngFor="let invitation of sentInvitation">
              <ion-avatar item-left>
                <img class="avatar" src="{{invitation.picture || 'assets/images/default-profil-picture.svg'}}" image-cache/>
              </ion-avatar>
              <div class="friend-request-container">
                <h2 class="friend-request-chiller-name">{{invitation.firstname}} {{invitation.lastname}}</h2>
                <span class="pending-request">{{ 'friend-list.pending' | translate }}</span>
              </div>
            </ion-item>
          </div>
        </ion-list>

        <div *ngIf="noFriends == true" class="no-events"><p>{{ 'friend-list.no-friends' | translate}}</p></div>

        <ion-list>
          <ion-item *ngIf="noResultFriends == true" class="no-result">
            {{ 'friend-list.no-result' | translate }}
          </ion-item>
          <ion-item-sliding *ngFor="let friend of friends">
            <ion-item (tap)="showChillerDetails(friend.id, friend.firstname, friend.phone, friend.have_chillter)">
              <ion-avatar item-left>
                <img src="{{friend.picture || 'assets/images/default-profil-picture.svg'}}" image-cache>
              </ion-avatar>
              <div class="have-chillter-name">
                {{friend.firstname}} <div class="bold-chillter-name">{{friend.lastname}}</div>
              </div>
            </ion-item>
            <ion-item-options>
              <button ion-button outline color="white" (tap)="showDeleteAlert(friend.id)" white>
                <img class="remove-friend" src="assets/images/close-outline.svg" height="20px"/>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <ion-list *ngIf="searchNotFriends == true">
          <ion-item class="add-friends">
            {{ 'friend-list.add-friends' | translate }}
          </ion-item>
          <ion-item *ngIf="noResultNotFriends == true" class="no-result">
            {{ 'friend-list.no-result' | translate }}
          </ion-item>
          <ion-item *ngFor="let notFriend of notFriends" (tap)="addFriend(notFriend.id)">
            <ion-avatar item-left><img src="{{notFriend.picture || 'assets/images/default-profil-picture.svg'}}" image-cache/></ion-avatar>
            <h2>{{notFriend.firstname}} {{notFriend.lastname}}</h2>
            <ion-icon md="md-add" ios="md-add" class="add-friends-icon" item-right></ion-icon>
          </ion-item>
        </ion-list>

    </div>

    <div *ngSwitchCase="'contact'">

      <div *ngIf="noContacts == true" class="no-events"><p>{{ 'friend-list.no-friends' | translate}}</p></div>

        <ion-list>
          <ion-item *ngIf="noResultContacts == true" class="no-result">
            {{ 'friend-list.no-result' | translate }}
          </ion-item>
            <ion-item *ngFor="let friend of phoneContacts[0]" (tap)="showChillerDetails(friend.id, friend.firstname, friend.phone, friend.have_chillter)">
              <ion-avatar item-left>
                <img src="{{friend.picture || 'assets/images/default-profil-picture.svg'}}" image-cache>
              </ion-avatar>
              <h2>{{friend.firstname}}</h2>
            </ion-item>
        </ion-list>

    </div>
  </div>

  

</ion-content>

