signin{
  
  font-family: SF_Regular;
  .toolbar-title-ios {
    font-size: 2.2rem;
    color: black;
  }

  .avatar {
    text-align: center;
    overflow: hidden;
  }

  .avatar img-picker-logo img {
    background-size: 105px 105px;
    box-sizing: content-box;
    border: 2px solid $chillter-col;
    border-radius: 100%;
    display: inline-block;
    height: 105px;
    width: 105px;
    padding: 2px;
  }

  .subtitle-avatar {
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    color: $chillter-col;
    font-size: 1.8rem;
  }

  .phone-prefix{
    width: 20vmin;
  }
  .phone-value{
    width: 70vmin;
  }
  //little tricks to get rid of the input-cover on the select input
  .phone{
    .input-cover{
      left: calc(20vmin + 12px);
    }
  }

  .submit-button{
    height: 4rem;
    box-shadow: 3px 0px 13px 0px rgba(130,130,130,0.4);
  }

  .scroll-content{
    height: calc(100% - 65px);
    overflow: visible;
  }

  ion-list{
    height: 100%;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
    padding-top: 1.5rem!important;
  }

  .avatar-part{
    flex: 0 1 auto;
  }

  .body-part{
    flex: 0 1 auto;
  }

  .button-part{
    flex: 0 1 auto;
    ion-label{
      overflow: visible;
    }
  }

  ion-item.input-has-focus ion-input,
  ion-item.input-has-focus ion-input[required] {
    border: none;
  }
  ion-input.ng-valid[required] {
    border-bottom: 1px solid green;
  }

  ion-input.ng-valid {
    border-bottom: 1px solid green;
  }

  ion-input.ng-invalid {
    border-bottom: 1px solid red;
  }

  ion-input.ng-pristine {
    border: none;
  }

  .birth-item{
    .item-inner{
      flex-direction: column;
    }
  }

  .birth-label{
    font-size: 1.5rem!important;
    margin: 0!important;
    padding: 0!important;
    margin-top: 5px!important;
  }

  .birth-inputs{
    margin: 0!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem!important;
    width: 80%;
  }

  ion-grid{
    ion-row{
      padding-left: 6px;
      ion-item{
        padding-left: 0!important;
      }
    }
  }

  /* Remove the last border-bottom */
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0;
  }

  /* Rewrite padding rules for the ion-list */
  .list-ios {
    margin-top: -15px;
  }

  .back-button {
    border: 0;
    background: transparent;
    ion-icon.back-button-icon {
      font-size: 0;
      &:before {
        content: '';
        display: block;
        width: 25px;
        height: 40px;
        background-image: url("../assets/images/back-arrow.svg");
        background-size: 22px auto;
        background-repeat: no-repeat;
        top: 3px;
        position: relative;
      }
    }
  }
}
