@font-face {
  font-family: 'LemonMilk';
  src: url('../assets/fonts/LemonMilk.otf');
}

@font-face {
  font-family: 'Lobster';
  src: url('../assets/fonts/Lobster.otf');
}

@font-face {
  font-family: 'MyBold';
  src: url('../assets/fonts/MYRIADAB.TTF');
}

@font-face {
  font-family: 'MyMedium';
  src: url('../assets/fonts/MyriadMedium.ttf');
}

@font-face {
  font-family: 'chillter-font';
  src: url('../assets/icons/chillter-font.eot?67flqu');
  src: url('../assets/icons/chillter-font.eot?67flqu#iefix') format('embedded-opentype'), url('../assets/icons/chillter-font.ttf?67flqu') format('truetype'), url('../assets/icons/chillter-font.woff?67flqu') format('woff'), url('../assets/icons/chillter-font.svg?67flqu#chillter-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ion-ios-chillter-icon-"],
[class*=" ion-ios-chillter-icon-"] {
  font-family: 'chillter-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-ios-chillter-icon-tab-bar-chillbox-outline:before,
.ion-md-chillter-icon-tab-bar-chillbox-outline:before {
  content: "\e900";
}

.ion-ios-chillter-icon-tab-bar-chillbox:before,
.ion-md-chillter-icon-tab-bar-chillbox:before {
  content: "\e901";
}

.ion-ios-chillter-icon-tab-bar-chillers-outline:before,
.ion-md-chillter-icon-tab-bar-chillers-outline:before {
  content: "\e902";
}

.ion-ios-chillter-icon-tab-bar-chillers:before,
.ion-md-chillter-icon-tab-bar-chillers:before {
  content: "\e903";
}

.ion-ios-chillter-icon-tab-bar-chills-outline:before,
.ion-md-chillter-icon-tab-bar-chills-outline:before {
  content: "\e904";
}

.ion-ios-chillter-icon-tab-bar-chills:before,
.ion-md-chillter-icon-tab-bar-chills:before {
  content: "\e905";
}

.ion-ios-chillter-icon-tab-bar-chillset-outline:before,
.ion-md-chillter-icon-tab-bar-chillset-outline:before {
  content: "\e906";
}

.ion-ios-chillter-icon-tab-bar-chillset:before,
.ion-md-chillter-icon-tab-bar-chillset:before {
  content: "\e907";
}

.has-refresher .scroll-content {
  border-top: none;
}

ion-item-options button.activated {
  background-color: rgba(0, 0, 0, 0.1)!important;
}

.tabbar,
.toolbar-background {
  border: 0px!important;
  background: white!important;
}

/* Content placeholder */
.content-pl-1 {
  filter: blur(1px);
  width: 1em;
  background: #f0f0f0;
}
.content-pl-2 {
  filter: blur(1px);
  width: 2em;
  background: #f0f0f0;
}
.content-pl-3 {
  filter: blur(1px);
  width: 3em;
  background: #f0f0f0;
}
.content-pl-4 {
  filter: blur(1px);
  width: 4em;
  background: #f0f0f0;
}
.content-pl-5 {
  filter: blur(1px);
  width: 5em;
  background: #f0f0f0;
}
.content-pl-6 {
  filter: blur(1px);
  width: 6em;
  background: #f0f0f0;
}
.content-pl-7 {
  filter: blur(1px);
  width: 7em;
  background: #f0f0f0;
}
.content-pl-8 {
  filter: blur(1px);
  width: 8em;
  background: #f0f0f0;
}
.content-pl-img {
  -webkit-filter: grayscale(30%) blur(7px);
  filter: grayscale(30%) blur(7px);
}
