chill-detail {
  .hide-left-pan {
    margin-left: -100%;
    visibility: hidden;
  }
  .hide-right-pan {
    margin-left: 100%;
    visibility: hidden;
  }
  .hide-top-pan {
    margin-bottom: 100%;
    visibility: hidden;
  }
  @keyframes animLeftPan {
    0% {
      visibility: visible;
      margin-left: -100%;
      opacity: 0;
    }
    100% {
      visibility: visible;
      margin-left: 0;
      opacity: 50;
    }
  }
  @keyframes animRightPan {
    0% {
      visibility: visible;
      margin-left: 100%;
      opacity: 0;
    }
    100% {
      visibility: visible;
      margin-left: 0;
      opacity: 50;
    }
  }
  @keyframes animTopPan {
    0% {
      visibility: visible;
      width: 100%;
      height: 0;
    }
    100% {
      visibility: visible;
      width: 100%;
      height: 100%;
    }
  }
  .anim-left-pan {
    animation-name: animLeftPan;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  .anim-right-pan {
    animation-name: animRightPan;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  .anim-top-pan {
    animation-name: animTopPan;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  .overlay-text {
    text-align: center;
    margin-top: 110%;
    font-size: 2.2rem;
    font-weight: bold;
  }
  .left-pan-accept {
    background-image: url("../assets/images/pan-accept.svg");
  }
  .right-pan-refuse {
    background-image: url("../assets/images/pan-refuse.svg");
  }
  .top-pan-maybe {
    background-image: url("../assets/images/pan-maybe.svg");
  }
  .overlay {
    z-index: 300;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 40%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .overlay-chill-detail {
    z-index: 300;
    position: fixed;
    top: 0px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 40%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .invite-com {
    text-align: left;
  }
  .invite-com scroll-content {
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    height: 3.5rem;
  }
  .invite-header .edit-icon {
    right: 0;
    position: absolute;
    margin-top: -10px;
    margin-right: 10px;
    width: 7%;
    height: 7%;
  }
  .invite-header .valide-icon {
    font-size: 30px;
  }
  .invite-header .map-icon {
    right: 35px;
    position: absolute;
    margin-top: -12px;
    margin-right: 10px;
    width: 7%;
    height: 7%;
    font-size: 30px;
  }
  .invite-header .map-icon-no-edit {
    right: 0;
    position: absolute;
    margin-top: -12px;
    margin-right: 10px;
    width: 7%;
    height: 7%;
    font-size: 30px;
  }
  .friend-list-img {
    position: relative;
    display: inline-block;
    margin: 0px;
    color: $chillter-col;
  }
  .status-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  .invite-friends .status-icon img {
    height: 100%;
    width: 100%;
  }
  .invite-fixed {
    width: 100%;
    bottom: 0;
    position: fixed;
  }
  .invite-com {
    text-align: center;
  }
  .invite-answer {
    border-top: 1px solid rgb(180, 180, 180);
    padding: 10px 20px;
    text-align: center;
    position: relative;
    background: white;
    .text-answer {
      vertical-align: middle;
      display: inline-block;
      color: gray;
    }
    ion-icon {
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }
    .invite-answer-refuse {
      position: absolute;
      left: 20px;
      bottom: 3px;
      ion-icon {
        color: #ff7477;
        padding-left: 5px;
      }
    }
    .invite-answer-accept {
      position: absolute;
      right: 20px;
      bottom: 3px;
      ion-icon {
        color: #69cc34;
        padding-right: 5px;
      }
    }
    .invite-answer-maybe {
      display: inline-block;
    }
  }
  .floating-close-button {
    position: absolute;
    top: 20px;
    left: 10px;
    width: auto;
    z-index: 200;
    min-height: 3.2rem;
    line-height: 1.7;
    margin-left: 5px;
    &:before {
      content: '';
      display: block;
      width: 25px;
      height: 40px;
      background-image: url("../assets/images/back-arrow.svg");
      background-size: 22px auto;
      background-repeat: no-repeat;
    }
  }
  .chills-header {
    width: 100%;
    height: 11.5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .ch-background {
    width: 100%;
    height: 11.5rem;
    position: absolute;
    background-color: white;
    border-bottom: 3px solid $chillter-col;
  }
  .ch-background img-loader,
  .ch-background img {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
  }
  .ch-logo {
    width: 150px;
    height: 150px;
    top: 15%;
    left: calc((100% - 150px) / 2);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    border: 3px solid $chillter-col;
    background-color: white;
  }
  .ch-logo img-loader,
  .ch-logo img {
    border-radius: 100%;
    display: block;
    height: 100%;
    width: 100%;
  }
  .ch-close {
    position: absolute;
    width: 30px;
    left: 5px;
    top: 10px;
    margin: 5px;
  }
  .invite {
    color: $chillter-col;
    text-align: center;
    overflow-y: auto;
    min-height: unset;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    padding: 16px 16px 0;
  }
  .invite input {
    margin: auto;
    width: 100%;
    border: none;
    text-align: center;
    text-transform: capitalize;
  }
  .invite h1 {
    margin: 0px;
    font-size: 3rem;
    text-transform: capitalize;
    /*padding-top: 10px;*/
  }
  .invite-header .title {
    font-family: LemonMilk;
  }
  .invite h2 {
    margin-bottom: 1vmax;
  }
  .invite-header input {
    text-transform: uppercase;
  }
  .invite-header h2 {
    color: rgb(180, 180, 180);
    font-size: 1.7rem;
    font-family: Lobster;
  }
  .invite-header .creator {
    color: gray;
    font-size: 2rem;
  }
  .invite-geo {
    height: 10vh;
    min-height: 8rem;
    border: 2px solid $chillter-col;
    border-radius: 2.7rem;
    overflow: hidden;
    font: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .invite-geo h1 {
    font-family: MyBold !important;
    margin: 0px;
  }
  .invite-geo h2 {
    font-size: 2.2rem;
    opacity: 0.6;
    font-family: MyBold !important;
  }
  .invite-geo .no-decoration a {
    text-decoration: none;
  }
  .invite-time {
    margin: 1vmax 0px;
    height: 8vmax;
    min-height: 7rem;
    border: 2px solid $chillter-col;
    border-radius: 4rem;
    font-size: 1.8rem;
    overflow: hidden;
  }
  .invite-time i {
    font-style: normal;
  }
  .invite-time div {
    display: inline-block;
    height: 100%;
  }
  .invite-time-left {
    position: relative;
    padding: 10px 3px;
  }
  .invite-time-right {
    float: right;
    background-color: rgba($chillter-col, 0.8);
    color: white;
    width: 12%;
    ion-icon {
      font-size: 3rem;
      margin-top: 10%;
    }
    .text {
      font-size: 1.3rem;
    }
  }
  .invite-time-right-text {
    height: auto;
    min-height: 100%;
    float: right;
    font-size: 1.3rem;
    background-color: rgba($chillter-col, 0.8);
    width: 12%;
    color: white;
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
  .invite-day,
  .invite-day-number {
    font-size: 3.4rem;
    font-family: MyBold;
  }
  .invite-day-number {
    opacity: 0.7;
  }
  .invite-hours {
    font-size: 40px;
    font-family: MyBold !important;
  }
  .invite-minutes {
    font-size: 40px;
    font-family: MyBold !important;
    opacity: 0.7;
  }
  .exp {
    margin-left: -5px;
    font-size: 1.2rem;
    vertical-align: top;
  }
  .invite-com {
    margin: 0px;
    padding: 3px 0px;
    border-top: 1px solid $chillter-col;
    border-bottom: 1px solid $chillter-col;
    height: 7vmax;
    min-height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
  }
  .invite-utils {
    margin: 0;
    height: 8.5vmax;
  }
  .invite-utils img {
    height: 100%;
    margin: 0px 2vmin;
  }
  .friends-number {
    margin: 0;
    text-align: left;
  }
  .invite-friends {
    margin: 6px 3px 3px 0;
    width: auto;
    display: flex;
    flex-direction: row;
    min-height: 70px;
  }
  .show-more-friends {
    float: right;
  }
  .friend-contener,
  .show-more-friends {
    position: relative;
    display: inline-block;
    height: 6.5rem;
    width: 6.5rem;
  }
  .show-more-friends {
    line-height: 6.5rem;
    top: -5px;
  }
  .invite-friends img {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    vertical-align: middle;
  }
  .delete-friend {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    vertical-align: top;
    z-index: 999;
  }
  .delete-friend img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
  .invite-sending {
    border-top: 1px solid rgb(180, 180, 180);
    padding: 5px 20px;
    bottom: 0;
    width: 100%;
    background: white;
    .text-sending {
      vertical-align: middle;
      display: inline-block;
      color: gray;
    }
    ion-icon {
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }
    .invite-sending-remove {
      display: inline-block;
      float: left;
      ion-icon {
        color: #ff7477;
        padding-left: 5px;
      }
    }
    .invite-sending-send {
      display: inline-block;
      float: right;
      ion-icon {
        color: #69cc34;
        padding-right: 5px;
      }
    }
  }
  .invite-sending-custom {
    border-top: 1px solid rgb(180, 180, 180);
    padding: 5px 20px;
    position: fixed;
    bottom: 50px;
    width: 100%;
    background: white;
    .text-sending {
      vertical-align: middle;
      display: inline-block;
      color: gray;
    }
    ion-icon {
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }
    .invite-sending-remove {
      display: inline-block;
      float: left;
      ion-icon {
        color: #ff7477;
        padding-left: 5px;
      }
    }
    .invite-sending-send {
      display: inline-block;
      float: right;
      ion-icon {
        color: #69cc34;
        padding-right: 5px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .invite-header .map-icon {
      margin-top: -14px;
      margin-right: 20px;
      font-size: 48px;
    }
    .invite-header .map-icon-no-edit {
      margin-top: -14px;
      margin-right: 20px;
      font-size: 48px;
    }
  }

  /* Reduce friends image size at < 325px */
  @media screen and (max-width: 325px) {
    .invite-friends .friend-picture,
    .invite-friends .show-more-friends {
      height: 5.8rem;
      width: 5.8rem;
    }
    .invite-friends .show-more-friends {
      line-height: 5.8rem;
      width: 4rem;
    }
  }
  .invite-time-right {
    ion-icon {
      font-size: 3rem;
    }
    .text {
      font-size: 1.4rem;
    }
  }
  .invite-time-right .text {
    display: block;
  }

  .scroll-content {
    padding-bottom: 40px;
  }
}
