<ion-content>

  <div class="floating-close-button" (tap)="close()"></div>
  <div class="overlay left-pan-accept hide-left-pan {{transformLeftPan}}">
    <p class="overlay-text">{{overlayTextAccept}}</p>
  </div>
  <div class="overlay right-pan-refuse hide-right-pan {{transformRightPan}}">
    <p class="overlay-text">{{overlayTextRefuse}}</p>
  </div>
  <div class="overlay-chill-detail top-pan-maybe hide-top-pan {{transformTopPan}}">
    <p class="overlay-text">{{overlayTextMaybe}}</p>
  </div>

  <div class="chills-header">
    <div class="ch-background">
      <img id="background" [src]="banner" *ngIf="!isEdit" image-cache/>
      <img-picker-banner id="background" [src]="banner" *ngIf="isEdit"></img-picker-banner>
    </div>
    <div class="ch-logo">
      <img id="logo" [src]="logo" *ngIf="!isEdit" image-cache/>
      <img-picker-logo id="logo" [src]="logo" *ngIf="isEdit"></img-picker-logo>
    </div>
  </div>

  <div class="invite" (swipe)="swipeEvent($event)">
    <div class="invite-header">
      <div *ngIf="idProfile == chillCreatorId" class="edit-icon" (tap)="editInfo(isEdit)">
        <img src="assets/images/edit.svg" *ngIf="!isEdit" image-cache/>
        <ion-icon class="valide-icon" *ngIf="isEdit" name="checkmark-circle-outline"></ion-icon>
      </div>

      <div>
        <h1>
          <input *ngIf="isEdit" type="text" class="title" [(ngModel)]="name" />
          <div *ngIf="!isEdit" class="title">{{name}}</div>
        </h1>
        <h2>{{ 'chill-detail.invited-by' | translate }} <i class="creator" [style.color]="'#'+color">{{firstName}} {{lastName}}</i></h2>
      </div>
    </div>

    <div class="invite-geo" [style.color]="'#'+color">
      <h1>
        <input *ngIf="isEdit" type="text" placeholder="{{ 'chill-detail.place' | translate }}" [(ngModel)]="geo" />
        <div *ngIf="!isEdit && !geo">{{ 'chill-detail.place' | translate }}</div>
        <div *ngIf="!isEdit && geo">{{geo}}</div>
      </h1>

      <!-- ANDROID GEOSPEC TAP TO OPEN MAP -->
      <h2 *ngIf="enableMaps && !isIos">
        <input *ngIf="isEdit" type="text" placeholder="{{ 'chill-detail.address' | translate }}" [(ngModel)]="geoSpec" (input)="autoAddress($event.target.value)" />
        <div *ngIf="!isEdit && geoSpec" (tap)="openMaps()">{{geoSpec}}</div>
      </h2>

      <h2 *ngIf="!enableMaps && !isIos">
        <input *ngIf="isEdit" type="text" placeholder="{{ 'chill-detail.address' | translate }}" [(ngModel)]="geoSpec" (input)="autoAddress($event.target.value)" />
        <div *ngIf="!isEdit" (tap)="openMaps()">{{ 'chill-detail.address' | translate }}</div>
      </h2>
      <!-- END ANDROID PART -->

      <!-- IOS GEOSPEC TAP TO OPEN MAP -->
      <h2 *ngIf="enableMaps && isIos">
        <input *ngIf="isEdit" type="text" placeholder="{{ 'chill-detail.address' | translate }}" [(ngModel)]="geoSpec" (input)="autoAddress($event.target.value)" />
        <div class="no-decoration" *ngIf="!isEdit && geoSpec">
          <a [href]="sanitizer.bypassSecurityTrustResourceUrl('maps:q='+geoSpecSafe)">
            {{geoSpec}}
          </a>
        </div>
      </h2>

      <h2 *ngIf="!enableMaps && isIos">
        <input *ngIf="isEdit" type="text" placeholder="{{ 'chill-detail.address' | translate }}" [(ngModel)]="geoSpec" (input)="autoAddress($event.target.value)" />
        <div *ngIf="!isEdit">
          {{ 'chill-detail.address' | translate }}
        </div>
      </h2>
      <!-- END IOS PART -->
    </div>

    <ion-icon *ngIf="autocompleteAddress != ''" style="margin-top: 2%;" (tap)="clearAutocomplete()" name="close-circle"></ion-icon>
      <ion-item [style.color]="'#'+color" style="font-size: 14px;" *ngFor="let address of autocompleteAddress" (click)="chooseAddress(address)">
        {{ address.description }}
      </ion-item>

      <div class="invite-time" [style.color]="'#'+color" (tap)="showDatePicker(isEdit)">
        <div class="invite-time-left"><i class="invite-day">{{stringDay}}</i> <i class="invite-day-number">{{numberDay}}</i> <i class="invite-day-number">{{stringMonth}}</i> <i class="invite-hours">{{hours}}</i>
          <i class="exp">h</i><i class="invite-minutes">{{min}}</i>
        </div>
        <div class="invite-time-right-text" *ngIf="soonDateDisplay && !weatherDisplay"><p>{{soonDate | toNow}}</p></div>
        <div class="invite-time-right" *ngIf="weatherDisplay"><ion-icon name="{{weatherIcon}}"></ion-icon><div class="text">{{ chillWeatherTemp }}°c</div></div>
      </div>

      <div class="invite-com" text-justify (tap)="openChat()">
        <ion-scroll scrollY="true" *ngIf="punchline" [style.color]="'#'+color">
          {{ punchline }}
        </ion-scroll>
        <div *ngIf="noPunchline == true" [style.color]="'#'+color">{{ 'chill-detail.no-chat-message' | translate }}</div>
      </div>

      <div class="invite-utils">
        <img *ngIf="filledCarIcon" src="assets/images/tool-car-filled.svg" (tap)="showUtils(0)" image-cache/>
        <img *ngIf="!filledCarIcon" src="assets/images/tool-car-outline.svg" (tap)="showUtils(0)" image-cache/>
        <img *ngIf="filledListIcon" src="assets/images/tool-list-filled.svg" (tap)="showUtils(1)" image-cache/>
        <img *ngIf="!filledListIcon" src="assets/images/tool-list-outline.svg" (tap)="showUtils(1)" image-cache/>
        <img *ngIf="filledExpIcon" src="assets/images/tool-pig-filled.svg" (tap)="showUtils(2)" image-cache/>
        <img *ngIf="!filledExpIcon" src="assets/images/tool-pig-outline.svg" (tap)="showUtils(2)" image-cache/>
      </div>

      <div class="friends-number">{{ friends.length }} {{ 'chill-detail.invited-number' | translate }}</div>

      <div class="invite-friends">
        <img src="assets/images/chill-plus.svg"  (tap)="showFriends()" image-cache/>
        <div *ngFor="let friend of shownFriends" class="friend-list-img">
          <img class="friend-picture" *ngIf="idProfile == friend.id" [src]="friend.picture ? friend.picture : 'assets/images/default-profil.svg'" image-cache/>
          <img class="friend-picture" *ngIf="idProfile != friend.id" [src]="friend.picture ? friend.picture : 'assets/images/default-profil.svg'" (tap)="showChillerDetails(friend.id)" image-cache/>
          <div class="status-icon">
            <img [src]="friend.statut | statusImg" image-cache/>
          </div>
          <div *ngIf="isEdit" class="delete-friend" (tap)="deleteFriend(friend.id)" >
            <img src="assets/images/close-outline.svg" image-cache *ngIf="idProfile == chillCreatorId && friend.id != chillCreatorId"/>
          </div>
        </div>
        <div *ngIf="showMoreFriends" class="show-more-friends" (tap)="showMoreFriendsPage()">
          {{ 'edit-chills.more-friends' | translate }}
        </div>
      </div>
    </div>
    <div class="invite-fixed">
      <div class="invite-answer">
        <div class="invite-answer-refuse" (tap)="animateTo(0)"><span class="text-answer">{{ 'chill-detail.refuse' | translate }}</span> <ion-icon name="arrow-round-back"></ion-icon></div>
        <div class="invite-answer-maybe" (tap)="animateTo(2)"><span class="text-answer">{{ 'chill-detail.maybe' | translate }} </span></div>
        <div class="invite-answer-accept" (tap)="animateTo(1)"><ion-icon name="arrow-round-forward"></ion-icon> <span class="text-answer">{{ 'chill-detail.accept' | translate }}</span></div>
      </div>
    </div>

</ion-content>
