chill-list {

  ion-navbar{
    padding-top: 0!important;
    min-height: 45px !important;
    height: 45px!important;
    padding-bottom: 0!important;
    .toolbar-background{
      border-radius: 0px 0px 16px 16px;
      box-shadow: 0px 0px 3px 0px rgba(130,130,130,0.6);
    }
  }

  ion-title{
    padding: 0 20vmin 1px!important;
    padding-top: 0!important;
    height: 100%!important;
    min-height: 100%!important;
    .toolbar-title-ios{
      height: 100%;
      .segment{
        height: 100%;
        padding-top: 0!important;
        height: 100%!important;
        min-height: 100%!important;
      }
    }
  }


  
  .tabbar-segment{
    
    .segment-button{
      text-transform: capitalize;
      max-width: 30vmin;
      height: 70%!important;
      font-size: 1.8rem;
      line-height: 1.5;
      border-color: rgba(0,0,0,0);
      color: grey;
      opacity: 1;
      font-family: SF_Bold;
    }
    .segment-activated{
      color: $chillter-col;
    }
    ion-segment{
      width: 60vmin;
      margin: auto;
    }
  }

  .custom-chill-spinner {
    ion-spinner {
      width: 75px;
      height: 75px;
      display: block;
      margin: 25% auto;
    }

    .spinner-crescent circle {
      stroke-width: 1px;
    }
  }

  .adding-chill-spinner {
    ion-spinner {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0% auto;
    }

    .spinner-crescent circle {
      stroke-width: 1px;
    }
  }

  ion-label {
    flex: initial;
    .create-customized{
      font-size: 2.5rem!important;
      font-family: SF_Bold;
      font-weight: 2000;
    }
    .create-customized::first-letter{
      text-transform: uppercase;
    }
  }

  ion-list-header.list-header-ios{
    font-family: SF_Bold;
    height: 3rem!important;
    text-transform: capitalize;
    font-size: 1.8rem;
  }

  ion-list-header.list-header-ios.custom-header{
    border-bottom: 2px solid grey;
    color: grey;
  }

  ion-item-options .button{
    width: 6vmin!important;
    box-sizing: initial!important;
    &.close-button{
      width: 5rem!important;
      ion-icon{
      font-size: 5rem!important;
      text-shadow: 1px 1px 3px rgba(130, 130, 130, 0.4);
      }
    }
    ion-icon{
      font-size: 3.5rem!important;
      line-height: 2.5rem;
      height: 3rem;
      width: 3rem;
      &.create-icon{
        border: 2px solid $chillter-col;
        font-size: 2rem!important;
        border-radius: 50%;
        box-shadow: 1px 1px 3px 0px rgba(130,130,130,0.4);
      }
      &.star-icon{
        text-shadow: 1px 1px 3px rgba(130, 130, 130, 0.4);
      }
    }
  }
  ion-item{
    text-transform: capitalize; 
  }
  ion-item-sliding{
    overflow: initial;
  }

  ion-item-sliding.active-options-right{
    ion-item{
      border-right: 1px solid lightgrey;
    }
  }

  .top-space {
    margin-top: 1rem;
  }

  .swiper-pagination {
    top: 0;
  }

  .orange-border {
    border: 1px solid $chillter-col;
    border-radius: 100%;
    min-width: unset;
    min-height: unset;
    img {
      padding: 1px;
    }
  }

  .back-button {
    border: 0;
    background: transparent;
    display: block;
    color:white;
    ion-icon.back-button-icon {
      text-shadow: 2px 0 0 $chillter-col, -2px 0 0 $chillter-col, 0 2px 0 $chillter-col, 0 -2px 0 $chillter-col, 1px 1px $chillter-col, -1px -1px 0 $chillter-col, 1px -1px 0 $chillter-col, -1px 1px 0 $chillter-col;
    }
  }

  .back-button.show-back-button {
    margin-top: -5px;
  }

  .scroll-content {
    padding-top: 50px !important;
    margin-top: 0px!important;
    background-color: #e8e8e8;
  }
  
  .list-round-wrapper{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 3px 0px rgba(130,130,130,0.6);
    overflow: hidden;
    min-height: calc(100vmax - 50px);
  }

  //remove last border of the list
  .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
      border-bottom: 0;
    }
  .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title{

  }
}
