edit-chills {
  .hide-left-pan {
    margin-left: -100%;
    visibility: hidden;
  }
  .hide-right-pan {
    margin-left: 100%;
    visibility: hidden;
  }
  @keyframes animLeftPan {
    0% {
      visibility: visible;
      margin-left: -100%;
      opacity: 0;
    }
    100% {
      visibility: visible;
      margin-left: 0;
      opacity: 50;
    }
  }
  @keyframes animRightPan {
    0% {
      visibility: visible;
      margin-left: 100%;
      opacity: 0;
    }
    100% {
      visibility: visible;
      margin-left: 0;
      opacity: 50;
    }
  }
  .anim-left-pan {
    animation-name: animLeftPan;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  .anim-right-pan {
    animation-name: animRightPan;
    animation-duration: .4s;
    animation-fill-mode: forwards;
  }
  .overlay-text {
    text-align: center;
    margin-top: 110%;
    font-size: 2.2rem;
    font-weight: bold;
  }
  .left-pan-accept {
    background-image: url("../assets/images/pan-send.svg");
  }
  .right-pan-refuse {
    background-image: url("../assets/images/pan-delete.svg");
  }
  .overlay {
    z-index: 300;
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 40%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .overlay-chill-detail {
    z-index: 300;
    position: fixed;
    top: 0px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center 40%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .floating-close-button {
    position: absolute;
    top: 20px;
    left: 10px;
    width: auto;
    z-index: 200;
    min-height: 3.2rem;
    line-height: 1.7;
    margin-left: 5px;
    &:before {
      content: '';
      display: block;
      width: 25px;
      height: 40px;
      background-image: url("../assets/images/back-arrow.svg");
      background-size: 22px auto;
      background-repeat: no-repeat;
    }
  }
  .scroll-content {
    padding-bottom: 40px;
  }
  .chills-header {
    width: 100%;
    height: 11.5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .ch-background {
    width: 100%;
    height: 11.5rem;
    position: absolute;
    background-color: white;
    border-bottom: 3px solid $chillter-col;
  }
  .ch-background img-picker-logo,
  .ch-background img {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
  }
  .ch-background img {
    object-fit: cover;
  }
  .ch-logo {
    width: 150px;
    height: 150px;
    top: 15%;
    left: calc((100% - 150px) / 2);
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    border: 3px solid $chillter-col;
    background-color: white;
  }
  .ch-logo img-picker-logo,
  .ch-logo img {
    border-radius: 100%;
    display: block;
    height: 100%;
    width: 100%;
  }
  .ch-close {
    position: absolute;
    width: 30px;
    left: 5px;
    top: 10px;
    margin: 5px;
  }
  .invite {
    color: $chillter-col;
    text-align: center;
    overflow-y: auto;
    min-height: calc(100% - 14rem);
    display: flex;
    flex-direction: column;
    justify-content: initial;
    padding: 16px 16px 0;
  }
  .invite input {
    margin: auto;
    width: 100%;
    border: none;
    text-align: center;
    text-transform: capitalize;
  }
  .invite h1 {
    margin: 0px;
    font-size: 3rem;
    text-transform: capitalize;
  }
  .invite-header .title {
    font-family: LemonMilk;
  }
  .invite h2 {
    margin-bottom: 1vmax;
  }
  .invite-header input {
    text-transform: uppercase;
  }
  .invite-header h2 {
    color: rgb(180, 180, 180);
    font-size: 1.7rem;
    font-family: Lobster;
  }
  .invite-header .creator {
    color: gray;
    font-size: 2rem;
  }
  .invite-geo {
    height: 10vh;
    min-height: 8rem;
    border: 2px solid $chillter-col;
    border-radius: 2.7rem;
    overflow: hidden;
    display: flex;
    justify-content: initial;
    flex-direction: column;
  }
  .invite-geo .h1 {
    font-family: MyBold !important;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: -10px;
  }
  .invite-geo .h2 {
    font-size: 2.2rem;
    opacity: 0.6;
    width: 98%;
    font-family: MyBold !important;
  }
  .invite-time {
    margin: 1vmax 0px;
    height: 8vmax;
    min-height: 7rem;
    border: 2px solid $chillter-col;
    border-radius: 4rem;
    font-size: 1.8rem;
    overflow: hidden;
  }
  .invite-time i {
    font-style: normal;
  }
  .invite-time div {
    display: inline-block;
    height: 100%;
  }
  .invite-time-left {
    position: relative;
    padding: 10px 3px;
  }
  .invite-time-right {
    float: right;
    background-color: rgba($chillter-col, 0.8);
    color: white;
    width: 12%;
    ion-icon {
      font-size: 3rem;
      margin-top: 10%;
    }
    .text {
      font-size: 1.3rem;
    }
  }
  .invite-time-right-text {
    height: auto;
    min-height: 100%;
    float: right;
    font-size: 1.3rem;
    background-color: rgba($chillter-col, 0.8);
    width: 12%;
    color: white;
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
  .invite-day,
  .invite-day-number {
    font-size: 3.3rem;
    font-family: MyBold;
  }
  .invite-day-number {
    opacity: 0.7;
  }
  .invite-hours {
    font-size: 38px;
    font-family: MyBold !important;
  }
  .invite-minutes {
    font-size: 38px;
    font-family: MyBold !important;
    opacity: 0.7;
  }
  .exp {
    margin-left: 3px;
    font-size: 1.2rem;
    vertical-align: top;
  }
  .invite-com {
    border-top: 1px solid $chillter-col;
    border-bottom: 1px solid $chillter-col;
    height: 7vmax;
    min-height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    overflow: hidden;
  }
  .invite-utils {
    margin: 0;
    height: 8.5vmax;
  }
  .invite-utils img {
    height: 100%;
    margin: 0px 2vmin;
  }
  .friends-number {
    margin: 3px;
    text-align: left;
  }
  .invite-friends {
    margin: 6px 3px 3px 0;
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .friend-contener,
  .show-more-friends {
    position: relative;
    display: inline-block;
    height: 6.5rem;
    width: 6.5rem;
  }
  .show-more-friends {
    line-height: 6.5rem;
  }
  .invite-friends img {
    border-radius: 50%;
    vertical-align: middle;
    width: 55px;
    height: 55px;
  }
  .ion-scroll-friends {
    height: 6.8rem;
    overflow-y: hidden;
    vertical-align: middle;
    padding-bottom: 2px;
    flex: 1 !important;
  }
  .ion-scroll-content {
    white-space: nowrap;
    widows: 100% !important;
    text-align: left;
    overflow-y: hidden;
  }
  .delete-friend {
    position: absolute;
    top: 5px;
    left: 4.5rem;
    height: 20px;
    vertical-align: top;
  }
  .delete-friend img {
    height: 100%;
    width: 100%;
    vertical-align: top;
  }
  .invite-sending {
    border-top: 1px solid rgb(180, 180, 180);
    padding: 5px 20px;
    bottom: 0;
    width: 100%;
    background: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    .text-sending {
      vertical-align: middle;
      display: inline-block;
      color: gray;
    }
    ion-icon {
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }
    .invite-sending-remove {
      display: inline-block;
      float: left;
      ion-icon {
        color: #ff7477;
        padding-left: 5px;
      }
    }
    .invite-sending-send {
      display: inline-block;
      float: right;
      ion-icon {
        color: #69cc34;
        padding-right: 5px;
      }
    }
  }
  .invite-sending-custom {
    border-top: 1px solid rgb(180, 180, 180);
    padding: 5px 20px;
    position: fixed;
    bottom: 50px;
    width: 100%;
    background: white;
    .text-sending {
      vertical-align: middle;
      display: inline-block;
      color: gray;
    }
    ion-icon {
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }
    .invite-sending-remove {
      display: inline-block;
      float: left;
      ion-icon {
        color: #ff7477;
        padding-left: 5px;
      }
    }
    .invite-sending-send {
      display: inline-block;
      float: right;
      ion-icon {
        color: #69cc34;
        padding-right: 5px;
      }
    }
  }
  .invite-editing-custom {
    border-top: 1px solid rgb(180, 180, 180);
    padding: 10px 20px;
    text-align: center;
    position: relative;
    background: white;
    .text-editing {
      vertical-align: middle;
      display: inline-block;
      color: gray;
    }
    ion-icon {
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }
    .invite-editing-remove {
      position: absolute;
      left: 20px;
      bottom: 3px;
      ion-icon {
        color: #ff7477;
        padding-left: 5px;
      }
    }
    .invite-editing-save {
      display: inline-block;
    }
    .invite-editing-send {
      position: absolute;
      right: 20px;
      bottom: 3px;
      ion-icon {
        color: #69cc34;
        padding-right: 5px;
      }
    }
  }

  /* Override rules for screen with width > 768px (iPad...) */
  @media screen and (min-width: 768px) {
    .invite-time-right {
      ion-icon {
        font-size: 4rem;
      }
      .text {
        font-size: 1.8rem;
      }
    }
    .invite-time-right .text {
      display: block;
    }
  }

}
