<ion-header no-border>
  <ion-navbar>
    <ion-title class="main-title">Chat - {{eventName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>
    <div *ngFor="let message of messages">
      <div [ngSwitch]="(!myId) || (message.user.id != myId)">
        <div *ngSwitchCase="true">
          <ion-item class="my-message">
            <ion-avatar item-left>
              <img src="{{ message.user.picture || 'assets/images/default-profil.svg' }}">
            </ion-avatar>
            <div class="message-content" item-left>
              <p class="chat-message primary">{{message.content}}</p>
              <p class="timestamp-left">{{message.creation_date | date: 'dd/MM/yyyy'}}</p>
            </div>
          </ion-item>
        </div>
        <div *ngSwitchDefault>
          <ion-item>
            <div class="message-content" item-right>
              <p class="chat-message secondary">{{message.content}}</p>
              <p class="timestamp-right">{{message.creation_date | date: 'dd/MM/yyyy'}}</p>
            </div>
            <ion-avatar item-right>
              <img src="{{ message.user.picture || 'assets/images/default-profil.svg' }}">
            </ion-avatar>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-list>

  <div *ngIf="connClosed" class="conn-closed">
    {{ 'chill-chat.error-happen' | translate }}
    <button ion-button outline (tap)="reloadChat()" block round large>
      <div *ngIf="!reloadingChat">{{ 'chill-chat.reload-page' | translate }}</div>
      <ion-spinner *ngIf="reloadingChat" name="crescent"></ion-spinner>
    </button>
  </div>

</ion-content>

<ion-footer>

  <form [formGroup]="form">
    <ion-toolbar>
      <ion-input type="text" formControlName="message" placeholder="{{ 'chill-chat.input-placeholder' | translate }}"></ion-input>
      <ion-buttons end>
        <button (tap)="onSubmit()" ion-button icon-right>
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </form>

</ion-footer>
