chill-box {
  ion-header {
    box-shadow: 0px 0px 1px 0px rgba(130,130,130,0.8);
    border-radius: 0px 0px 16px 16px;
    height: 110px;
    background: white;

    .bar-button-default-ios{
      height: initial!important;
    }

    ion-navbar{
      padding-top: 0!important;
      background: none;
      height: 60px!important;
      min-height: 60px!important;
      ion-title{
        padding-top: 0!important;
        height: 100%!important;
        min-height: 100%!important;
      }

    }

    img.nav-title{
      max-width: 80%;
      height: 47px;
    }

    .search-evt{
      margin-top: 1px;
      display: block;
      border: none;
      background: none;
      padding: 0px 10px;
    }
  }

  .scroll-content {
    margin-top: 110px !important;
  }

  .history-button {
    font-size: 1.8rem;
    color: grey;
    border: none;
    overflow: visible;
    ion-icon{
      overflow: visible;
    }
  }

  .plus-button {
    font-size: 2.2rem;
    color: $chillter-col;
    border: none;
    ion-icon{
      font-weight:600!important;
    }
  }

  .no-events {
    margin-top: 7rem;
    text-align: center;
    color: grey;
  }

  .status-img {
    height: 3.7rem;
  }

  .right-info {
    height: 100%;
    display: inline-box;
    float: right;
    line-height: 100%;
  }

  .orange-border {
    border: 1px solid $chillter-col;
    margin: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5px;
    line-height: 0;
    min-width: unset;
    min-height: unset;
    img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      padding: 2px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      top: 0;
      width: 50px;
      height: 50px;
    }
  }


  .title{
    padding: 0 15% 1px!important;
  }

  .toolbar-title{
    overflow: initial!important;
  }

  .search-evt {
    width: 100%;
    overflow: hidden;

    .searchbar-input {
      border: 1px solid lightgrey!important;
      background: none!important;
      color: grey!important;
      width: 100%;
      border-radius: 11px;
      height: 3.5rem;
    }
    .searchbar-input::placeholder{
      color: grey;
    }
    .searchbar-search-icon{
      height: 100%;
      width:30px;
      top:0;
      left:0;
      background-position: center;
    }
  }

  .chill-box {

    .card-round{
      background-color: white;
      border-radius: 16px;
      box-shadow: 3px 0px 13px 0px rgba(130,130,130,0.6);
      overflow: hidden;
      width: 100vmin;
      margin:0px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .base-chill-banner{
      height: 25px;
    }

    .custom-chill-banner{
      height: 95px;
      overflow: hidden;
    }

    .scroll-content {
      border: none;
    }
    .global-infos {
      display: inline-block;
      float: left;

      h2 {
        font-family: SF_Bold;
        font-size: 2.5rem;
        color: black;
        font-weight: bold;
        text-transform: capitalize;
      }

      .chiller-name {
        font-family: SF_Semibold;
        font-size: 1.3rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
      }

      .event-canceled {
        font-weight: bold;
        color: rgba(255, 26, 26, 0.7);
      }
    }

    .filter-evt {
      //width: 35vw;
      margin-top: 10px;
      float: right;
      display: inline-block;
      margin-right: 2.5vw;
      padding: 0px 2px;

      .filter-img {
        height: 7.5vw;
        display: inline-block;
        max-height: 30px;
        margin: 0px 0.6vw;
      }
    }

    .logo-container{
      position: absolute;
    }

    .participation-status{
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      bottom: 8px;
      right: 1px;
      border: 2px solid white;
    }

    .infos-events {
      display: inline-block;
      float: right;
      text-align: right;

      .chill-hours {
        font-size: 2.2rem;
        font-style: normal;
        color: #666666;
        display: inline-block;
      }

      .soon {
        vertical-align: 40%;
      }

      .today {
        color: $chillter-col !important;
      }

      .ongoing {
        color: #43a1eb !important;
      }

      .chill-date {
        display: block;
        margin-top: -10px;
        text-align: right;
        font-family: SF_Light;
        font-size: 1.6rem;

      }

      img {
        width: 50px;
        float: right;
      }
    }
  }

  /* Override rules for screen with width > 768px (iPad...) */
  @media screen and (min-width: 768px) {
    .nav-title {
      margin-top: 10%;
      height: 110px;
    }

    .history-button {
      margin: 8% 4%;
      font-size: 6rem;
    }

    .plus-button {
      margin: 4% 8%;
      font-size: 6rem;
    }

    ion-avatar {
      .logo-chill {
        height: 10vw;
        width: 10vw;
      }
    }

    .chill-box {
      .search-evt {
        margin-top: 11px;
        .searchbar-ios {
          height: 5rem;
        }

        .searchbar-ios .searchbar-input {
          height: 4rem;
          font-size: 2rem;
          padding-left: 50px;
        }

        .searchbar-ios .searchbar-search-icon {
          top: 12px;
          width: 20px;
          height: 20px;
          background-size: 20px;
        }
      }

      .no-events {
        margin-top: 100px;
      }

      .global-infos {
        margin-top: 9px;

        h2 {
          font-size: 3rem;
        }

        .chiller-name {
          font-size: 2rem;
        }
      }

      .filter-evt {
        margin-top: 15px;

        .filter-img {
          height: 8vw;
          max-height: 50px;
        }
      }
    }

    .infos-events {
      margin-top: 15px;
    }

    .status-img {
      height: 5rem;
      margin-left: 10px;
    }
  }
}
